@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --red-hat-display: "Red Hat display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

button{
  border: none;
  background: none;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  margin: 5px 0;
  padding: 12px 24px;
  font-family: var(--red-hat-display);
}

body {
  font-family: var(--red-hat-display);
  background-color: var(--Pale-blue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card__order{
  overflow: hidden;
  width: 320px;
  border-radius: 20px;
  background-color: white;
}


.imagen {
  background-image: url(./images/illustration-hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.card__order-info{
    padding: 15px 20px;
}

.title__central {
  text-align: center;
  font-weight: 900;
  font-size: 1.4em;
  margin: 15px 0;
  color: var(--Dark-blue);
}

.parrafo {
  text-align: center;
  color: var(--Desaturated-blue);
  margin: 20px 0;
  line-height: 1.6rem;
}

.plan__annual {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 28px;
  border-radius: 10px;
  background-color: var(--Very-pale-blue);
}

.icon__container {
  background-image: url(./images/icon-music.svg);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

.content__precio p:nth-child(1) {
  color: var(--Dark-blue);
  font-size: 1rem;
  font-weight: 900;
}
.content__precio p:nth-child(2) {
  color: var(--Desaturated-blue);
  font-size: 16px;
}

.change {
  font-size: 0.8em;
  color: var(--Bright-blue);
  font-weight: 700;
  margin-left: 30px;
}

.change:hover {
  text-decoration: none;
  color: hsl(245, 100%, 76%);
}

.button__primary{
  background-color: var(--Bright-blue);
  color: white;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 1px 5px 17px 3px var(--Desaturated-blue);
}

.button-secondary{
    color: var(--Desaturated-blue);
    font-weight: 900;
}

.button__primary:hover {
  background-color: hsl(246, 100%, 70%);
  cursor: pointer;
}

.button-secondary:hover{
  color: var(--Bright-blue);
}

@media (min-width:1440px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: top;
    background-size: contain;
  }

  .card__order{
    width: 420px;
    border-radius: 20px;
    background-color: white;
  }

  .card__order-info{
    padding: 15px 40px;
    text-align: center;
}

  
}
